*{
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    position: relative;
}
.img-bg{
    width: 100%;
    height: 140px;
    opacity: 50%;
}

#logo{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 100px;
    top: -1px;

}

/* CSS */
.login-signup {
  background-color: #F8B8E6;
  border-radius: 100px;
  box-shadow: rgba(150, 119, 125, 0.2) 0 -25px 18px -14px inset, rgba(255, 192, 203, .15) 0 1px 2px, rgba(255, 192, 203, .15) 0 2px 4px, rgba(255, 192, 203, .15) 0 4px 8px, rgba(255, 192, 203, .15) 0 8px 16px, rgba(255, 192, 203, .15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 36.6px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  bottom: 40px;
  right: 250px;
}

.login-signup:hover{
  box-shadow: pink;
  transform: scale(1.05) rotate(-1deg);
}

h1{
display: none;
position: absolute;
width: 469px;
height: 80px;
left: 440px;
top: 21px;

font-family: 'Irish Grover';
font-style: italic;
font-weight:bold;
font-size: 59.3px;
line-height: 59px;
/* or 100% */

color: #F863F2;

-webkit-text-stroke: 3px black;
}
h3{
    display: none;
    position: absolute;
    width: 469px;
    height: 80px;
    left: 490px;
    top: 70px;
    
    font-family: 'Irish Grover';
    font-style: italic;
    font-weight:bold;
    font-size: 36.6px;
    line-height: 59px;
    /* or 100% */
    
    color: #F863F2;
    
    -webkit-text-stroke: 3px black;
    }

@media only screen and (min-width: 1000px) {
    h1, h3{
        display:initial;
    }
    #logo{
        left: 50px;
    }
}
